

/* color : #e2edff */



/* navbar */
.navbar-brand{
    font-size: 25px;
}

.nav-item{
    margin-left: 20px;
}

/* jumbotron */

.jumbotron{
    background-color: #e2edff;
    min-height: 400px;
    padding-top: 90px;
}

.jumbotron img{
    width: 180px;
    height: 180px;
}

.jumbotron h1{
    margin: 15px 0;
}

.jumbotron h1, .jumbotron p{
    text-shadow: 2px 2px 3px whitesmoke;
}

/* about */

.about{
    min-height: 500px;
}

.about h3, .project h3, .contact h3, .galery h3{
    margin-bottom: 40px;
}

/* portfolio */

.project{
    background-color:  #e2edff;
}

.project .card{
    margin-bottom: 25px;
}

/* galery-img */

.galery-img{
    width: 100%;
}

.galery .row>*{
    padding: 0%;
}

/* contact */

.contact{
    background-color: #e2edff;
}

/* footer */

footer p span{
    text-decoration: underline;
}

footer p{
        color: white;
}

footer{
    padding: 25px 0;
}

section{
    padding-top: 5rem;
}









