

/* color : #e2edff */



/* navbar */
.navbar-brand{
    font-size: 25px;
}

.nav-item{
    margin-left: 20px;
}

/* jumbotron */

.jumbotron{
    background-color: #e2edff;
    min-height: 400px;
    padding-top: 90px;
}

.jumbotron img{
    width: 180px;
    height: 180px;
}

.jumbotron h1{
    margin: 15px 0;
}

.jumbotron h1, .jumbotron p{
    text-shadow: 2px 2px 3px whitesmoke;
}

/* about */

.about{
    min-height: 500px;
}

.about h3, .project h3, .contact h3, .galery h3, .keybord h3{
    margin-bottom: 40px;
}

/* portfolio */

.project{
    background-color:  #e2edff;
}

.project .card{
    margin-bottom: 25px;
}

/* galery-img */

.galery-img{
    width: 100%;
}

.galery .row>*{
    padding: 0%;
}

.keybord{
    background-color: #e2edff;
}

.kotak-keybord{
    background-color: #0d6efd;
    height: 350px;
    border-radius: 20px;
    position: relative;
    /* overflow: hidden; */
    transform-style: preserve-3d
}

.kotak-keybord::before{
    content: 'MY';
    font-size: 3em;
    color: white;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 7%;

    opacity: 0;
    transition: .5s;
}

.kotak-keybord:hover::before{
    opacity: 0.4;
}

.kotak-keybord::after{
    content: 'KEYBOARD';
    font-size: 2em;
    color: white;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 73%;

    opacity: 0;
    transition: .5s;
}

.kotak-keybord:hover::after{
    opacity: 0.4;
}


.keyboard-name{
    font-size: 2em;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translate3d(0,0,50px);

    opacity: 0;
    transition: .5s;
}

.kotak-keybord:hover .keyboard-name{
    opacity: 1;
    top: 10px;
}

.keybord-tombol{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate3d(-50%, 0,100px);
    border-radius: 10px;
    
    opacity: 0;
    transition: .5s;
}

.kotak-keybord:hover .keybord-tombol{
    opacity: 1;
    bottom: 20px;
}

.gbr-keyboard{
    max-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%,0);

    transition: .5s;
}

.kotak-keybord:hover .gbr-keyboard{
    transform: translate3d(-50%, -50%, 100px) scale(1.2) rotate(-15deg); 
}

/* footer */

footer p span{
    text-decoration: underline;
}

footer p{
    color: white;
}

footer{
    padding: 25px 0;
}

section{
    padding-top: 5rem;
}




/* bagian dekstop version */

@media (min-width: 992px) {
    .kotak-keybord{
        height: 500px;
    }

    .kotak-keybord::before{
        font-size: 6em;
    }

    .kotak-keybord::after{
        font-size: 3em;
    }

    .kotak-keybord:hover .keyboard-name{
        top: 30px;
    }

    .kotak-keybord:hover .keybord-tombol{
        bottom: 30px;
    }

    .gbr-keyboard{
        max-width: 330px;
    }

    .kotak-keybord:hover .gbr-keyboard{
        transform: translate3d(-50%, -50%, 100px) scale(1.2) rotate(-10deg); 
    }
}


